
<!--@subject {{trans "The customer %customer_name has been logged into the %store_name" store_name=$store.getFrontendName() customer_name=$customer.name}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name",
"var customer.name":"Customer Name",
"var administrator_name":"Administrator Name"
} @-->

{{template config_path="design/email/header_template"}}

<div style="background-color: #f7f7f7; padding: 20px; font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #333;">
    <p style="margin-bottom: 20px;">Heyyyy {{var customer_name}},</p>

    <p style="margin-bottom: 20px;">Your Cart seems Heavy, You currently have {{var cartItems}} items in your cart. Thank you for your interest in our products!</p>

    <p style="margin-bottom: 20px;">Please use the code <strong>CART5OFF</strong> at checkout to receive 5% off your purchase.</p>

    <p style="margin-bottom: 20px;">As always, if you have any questions or concerns, please don't hesitate to contact us.</p>

    <p style="margin-bottom: 0;">Thank you for choosing {{var store.getFrontendName()}}!</p>


</div>
{{template config_path="design/email/footer_template"}}
